.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 1px #61dafb solid;
  margin: auto;
  width: 60%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.bold-text {
  font-weight: 800;
}

.wrapper {
  justify-content: center;
  align-items: center;
  padding: 20%;
}

.w100p { width: 100% }
.w30p { width: 30% }
.w60p { width: 60% }

.mt10 { margin-top: 10% }

.p10 { padding: 10px }

.bg-grey {
  background-color: gray;
}

.grey-brd {
  border: 1px gray solid;
}

.align-right {
  align-self: flex-end;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
